{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title%}Django Authentication{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body class="bg-light">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-secondary mb-4 pl-5 pr-5">
        <div class="container col-9">
            <a href="{% url 'home' %}" class="nav-link">
                <img src="https://cdn.itviec.com/employers/intek-institute-of-applied-technology/logo/w170/ww5hEKU4Gqg385c6WkpmsdiN/intek-institute-of-applied-technology-logo.png" alt="logo" class="navbar-brand" width="60px">
            </a>
            {% block nav %}
            {% endblock %}
        </div>
    </nav>
    <div style="height: 150px"></div>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>