{% extends 'home.html' %}
{% load add_attr %}

{% load static %}

'''
this will views out user info, include:
    - User name
    - Email (maybe)
    - posted movie
    - posted actors
    - comments
    - change password link
    - change info link
    
'''

{% block title %}Account {{ user.username }}{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="col-8 mx-auto mb-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-text">
                        Hi {{ user.username }}
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="card-text text-center">
                        You are loged in as {{ user.username }}.
                    </h4>
                </div>
                <div class="card-footer d-flex flex-row justify-content-center align-items-center">
                    <a href="{% url 'home' %}" class="col-sm-4">
                        <p class="card-link text-muted mb-0">
                            Explore this site
                        </p>
                    </a>
                    <a href="/admin/" class="btn btn-info col-sm-4">
                        <h5 class="card-text">Move to admin page</h5>
                    </a>
                    <a href="{% url 'logout' %}" class="col-sm-4 text-right">
                        <p class="text-danger card-link mb-0">
                            Log out
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 mt-5 mx-auto flex-row">
            <h1 class="text-center text-uppercase font-weight-bold">avalable category</h1>
            <div class="row mb-3 mx-auto mt-4">
                {% for cate in object_list|dictsort:"name" %}
                    <div class="col-4">
                        <div class="card border-info mb-3">
                            <div class="card-body">
                                <h3 class="card-title text-info mb-0 text-center">
                                    {{ cate.name }}
                                </h3>
                            </div>
                        </div>
                    </div>   
                {% endfor %}
            </div>
        </div>
        <div class="col-10 mx-auto">
            <div class="col-4 ml-auto">
                <a href="{% url 'account:category' %}">
                    <div class="btn btn-success ml-auto">
                        <h4 class="text-light mb-0">ADD CATEGORY</h4>
                    </div>
                </a>
            </div>
        </div> 
    {% else %}
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-text">
                    Hi {{ user.username }}
                </h5>
            </div>
            <div class="card-body">
                <h4 class="card-text text-center">
                    What do you want to do?
                </h4>
            </div>
            <div class="card-footer d-flex flex-row justify-content-between">
                <a href="{% url 'home' %}">
                    <p class="card-link text-muted mb-0">
                        Explore this site
                    </p>
                </a>
                <a href="{% url 'logout' %}">
                    <p class="text-danger card-link mb-0">
                        Log out
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}