{% extends "home.html" %}
{% load add_attr %}

{% block title %}Actor{% endblock %}


{% block content %}

<div class="row justify-content-center mb-5">
    <h1 class="font-weight-bold text-uppercase">Actors</h1>
</div>
<div class="card-deck">
    {% for actor in object_list %}
    <div class="col-4">
        <div class="card mb-3">
            <img src="{{ actor.portrait.url }}" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">
                    {{ actor.firstname}} {{ actor.lastname }}
                </h2>
                <p class="card-text">
                    <strong>Gender:</strong> {{ actor.sex }}
                </p>

                {% if actor.alive %}
                <div class="bg-info col-6 ml-auto rounded">
                    <h5 class="text-right text-white">ALIVE</h5>
                </div>
                {% else %}
                <div class="bg-dark col-6 ml-auto rounded">
                    <h5 class="text-right text-white">DEAD</h5>
                </div>
                {% endif %}
            </div>
            <a href="{% url 'intekimdb:actor_detail' actor.id %}" class="card-link card-footer">
                <div class=>
                    <p class="mb-0">> Read more</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mt-5">
    <div class="col-3 ml-auto">
        <a href="{% url 'intekimdb:actor_create' %}">
            <div class="btn btn-success">
                <h3 class="text-dark mb-0">ADD ACTOR</h3>
            </div>
        </a>
    </div>
</div>

{% endblock %}   
