{% extends "home.html" %}
{% load add_attr %}

{% block title %}Actors{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-text text-center mb-4">Are you sure you want to delete "{{ object }}"?</h3>
            <div class="d-flex justify-content-center">
                <input type="submit" value="CONFIRM" class="btn btn-danger mr-2">
                <a href="{% url 'intekimdb:actor_list' %}" class="ml-2">
                    <div class="btn btn-success">RETURN</div>
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}   
