{% extends 'home.html' %}

{% load add_attr %}

{% block title %}Add new Moive{% endblock %}

{% block content %}
    <form action="{% url 'intekimdb:addmovies' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" class="col-lg-10">Title</label>
            {{ f.title|add_attr:"class: form-control col-lg-10" }}
        </div>
        <div class="form-group">
            <label for="description" class="col-lg-10">Description</label>
            {{ f.description|add_attr:"class: form-control col-lg-10" }}
        </div>
        <div class="form-group">
            <label for="release_date" class="col-lg-10">Release date</label>
            {{ f.release_date|add_attr:"class: form-control col-lg-10" }}
        </div>
        <div class="form-group">
            <label for="category" class="col-lg-10">Categories</label>
            {{ f.category|add_attr:"class: form-control col-lg-10" }}
        </div>
        <div class="form-group">
            <label for="actors" class="col-lg-10">Actors</label>
            {{ f.actors|add_attr:"class: form-control col-lg-10" }}
        </div>
        <div class="form-group">
            <label for="logo" class="col-lg-10">Logo</label>
            {{ f.logo|add_attr:"class: form-control col-lg-10" }}
        </div>
        <input type="submit" value="add" class="btn btn-primary">
    </form>
{% endblock %}