{% extends 'home.html' %}

{% load add_attr %}

{% block title %}Add new actor{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h2>Add new actor</h2>
                <form action="{% url 'intekimdb:addactors' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname" class="col-lg-10">First name</label>
                        {{ f.firstname|add_attr:"class: form-control col-lg-10" }}
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-lg-10">Last name</label>
                        {{ f.lastname|add_attr:"class: form-control col-lg-10" }}
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="col-lg-10">Birthday</label>
                        {{ f.birthday|add_attr:"class: form-control col-lg-10" }}
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-lg-10">Gender</label>
                        {{ f.sex|add_attr:"class: form-control col-lg-10" }}
                    </div>
                    <div class="form-group">
                        <label for="nationality" class="col-lg-10">nationality</label>
                        {{ f.nationality|add_attr:"class: form-control col-lg-10" }}
                    </div>
                    <div class="form-group flex-direction-row input-group-prepend">
                        <label for="alive" class="form-control">Alive</label>
                        {{ f.alive|add_attr:"class: input-group-text col-lg-10" }}
                    </div>
                    <input type="submit" value="add" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock %}