{% extends "home.html" %}

{% block title %}Awards{% endblock %}

{% block content %}
{% if object %}
<div class="col-10 mx-auto">
    <div class="card">
        <!-- <img src="{{ movie.logo.url }}"  class="card-img-top">  -->
        <div class="card-body">
            <h2 class="card-head mb-3">{{ award.name }}</h2>
            <p class="card-text">
                <strong>Kind: </strong>For {{ award.kind }}
            </p>
            {% if award.kind == "Actors" %}
                <p class="card-text">
                    <strong>Names:</strong> {% for actor in award.actors.all %}
                        {{ actor.firstname}} {{ actor.lastname }},
                    {% endfor %}
                </p>
            {% elif award.kind == "Movies" %}
                <p class="card-text">
                        <strong>Movies: </strong>
                        {% for movie in award.movies.all %}
                            {{ movie.title }}
                        {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="card-body ml-auto">
            <a href="{% url 'intekimdb:award_update' award.id %}">
                <div class="btn btn-primary">
                    <h6 class="mb-0">Edit award </h6>
                </div>
            </a>
            <a href="{% url 'intekimdb:award_delete' award.id %}">
                <div class="btn btn-danger">
                    <h6 class="mb-0">Delete award </h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}