{% extends "home.html" %}

{% block title %}Awards{% endblock %}

{% block content %}
{% if object %}
<div class="col-8 mx-auto">
    <div class="card">
        <img src="{{ movie.logo.url }}"  class="card-img-top"> 
        <div class="card-body">
            <h2 class="card-head mb-3">{{ award.name }}</h2>
            <p class="card-text">
                <strong>Birthday:</strong> {{ actor.birthday.date }}
            </p>
            <p class="card-text">
                <strong>Gender:</strong> {{ actor.sex }}
            </p>
            <p class="card-text">
                <strong>Nationality:</strong> {{ actor.nationality }}
            </p>
            <p class="card-text">
                    <strong>Movies: </strong>{{ actor.movies.all }}
            </p>
            {% if actor.alive %}
                    <div class="bg-info col-4 ml-auto rounded">
                        <h5 class="text-right text-white">ALIVE</h5>
                    </div>
                {% else %}
                    <div class="bg-dark col-4 ml-auto rounded">
                        <h5 class="text-right text-white">DEAD</h5>
                    </div>
                {% endif %}
        </div>
        <div class="card-body ml-auto">
            <a href="{% url 'intekimdb:award_update' award.id %}">
                <div class="btn btn-primary">
                    <h6 class="mb-0">Edit movie </h6>
                </div>
            </a>
            <a href="{% url 'intekimdb:award_delete' award.id %}">
                <div class="btn btn-danger">
                    <h6 class="mb-0">Delete movie </h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}