{% extends "home.html" %}
{% load add_attr %}

{% block title %}Movie{% endblock %}

{% block content %}
    {% if movies %}
        {% for movie in movies %}
            <a href="{% url 'intekimdb:detail' movie.id %}"> view </a>
            <p>{{ movie.title }}</p>
            <p>{{ movie.description }}</p>
            <p>{{ movie.release_date.date }}</p>
            <p>
                {% for i in movie.category.all %}
                    {{ i.name }}
                {% endfor %}
            </p>
            <p>
                {% for i in movie.actors.all %}
                    {{ i.firstname }}
                {% endfor %} 
            </p>
            <p> <img src={{movie.logo.url}}> </p>
        {% endfor %}        
    {% endif %}
{% endblock %}