{% extends "home.html" %}
{% load add_attr %}


{% block title %}Movies{% endblock %}

{% block content %}
<div class="col-12 mx-auto">
    <div class="row justify-content-center mb-5">
        <h1 class="font-weight-bold text-uppercase">Movies</h1>
    </div>
    <div class="card-deck">
        {% for movie in object_list %}
        <div class="col-4">
            <div class="card mb-3">
                <img src="{{ movie.logo.url }}" alt="movie_logo" class="card-img-top img-ava">
                <div class="card-body">
                    <h3 class="card-title">{{ movie.title }}</h3>
                    <p class="card-text text-muted" style="font-size: 14px"><strong>Release date:</strong> {{ movie.release_date.date }}</p>
                    <p class="card-text text-muted" style="font-size: 15px">
                        {% for cate in movie.category.all %}
                        #{{ cate }} 
                        {% endfor %}
                    </p>
                </div>
                <a href="{% url 'intekimdb:movie_detail' movie.id %}" class="card-link card-footer">
                    <p class="mb-0">>> Read more</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="col-3 ml-auto">
            <a href="{% url 'intekimdb:movie_create' %}">
                <div class="btn btn-success">
                    <h3 class="text-light mb-0">ADD MOVIE</h3>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}   




