{% extends "home.html" %}
{% load add_attr %}

{% block title %}Movie{% endblock %}

{% block content %}
{% if object %}
<div class="col-8 mx-auto">
    <div class="card">
        <img src="{{movie.logo.url}}"  class="card-img-top"> 
        <div class="card-body">
            <h2 class="card-head">{{ movie.title }}</h2>
            <p class="card-text text-muted" style="font-size: 14px">Release date: {{ movie.release_date }}</p>
            <p class="card-text">{{ movie.description }}</p>
            <p class="card-text">Actors: 
                {% for i in movie.actors.all %}
                {{ i.firstname }} {{ i.lastname }}, 
                {% endfor %}
            </p>
            <p class="card-text text-muted" style="font-size: 12px">
                {% for i in movie.category.all %}
                    #{{ i.name }} 
                {% endfor %}
            </p>
        </div>
        <div class="card-body ml-auto">
            <a href="{% url 'intekimdb:movie_update' movie.id %}">
                <div class="btn btn-primary">
                    <h6 class="mb-0">Edit movie </h6>
                </div>
            </a>
            <a href="{% url 'intekimdb:movie_delete' movie.id %}">
                <div class="btn btn-danger">
                    <h6 class="mb-0">Delete movie </h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}   
